# Python Einf√ºhrung
## Tag 1
Das ist eine Markdown-Zeile *kursiv* **fett** ***fett-kursiv***
- Punkt 1 
- Punkt 2
- Punkt 3

In [1]:
print("Hello World")

Hello World

In [2]:
print("something")
# ein Kommentar

something

In [3]:
name = "Lovelace"

In [4]:
print(name)

Lovelace

In [5]:
age = 73

In [6]:
age

73

In [7]:
age name

SyntaxError: invalid syntax (<ipython-input-7-1dc4460d56d0>, line 1)

In [8]:
age

73

In [9]:
age
name

'Lovelace'

In [10]:
size = 1.7123

In [11]:
knows_math = True
print(knows_math)
likes_slacking = False
print(likes_slacking)

True
False

In [12]:
type(name)

str

In [13]:
age(name)

TypeError: 'int' object is not callable

In [14]:
type(age)

int

In [15]:
type(size)

float

In [16]:
5 + 5

10

In [17]:
age * 100

7300

In [18]:
name + name

'LovelaceLovelace'

In [19]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [20]:
name + 10

TypeError: can only concatenate str (not "int") to str

In [21]:
size / age

0.023456164383561642

In [23]:
name + str(age)

'Lovelace73'

## Funktionen und Methoden nutzen

In [24]:
len(name)

8

In [25]:
len("Berlin")

6

In [26]:
name.upper()

'LOVELACE'

In [27]:
name_upper = name.upper()

In [28]:
print(name)
print(name_upper)

Lovelace
LOVELACE

In [29]:
name.count("e")

2

In [30]:
name.replace("lace", "is everywhere")

'Loveis everywhere'

In [32]:
name.replace("lace", " is everywhere")

'Love is everywhere'

## Listen und Dictionaries

In [33]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [34]:
type(names)

list

In [35]:
names[2]

'Curie'

In [36]:
names[1]

'Darwin'

In [37]:
names[-1]

'Hawking'

In [38]:
names[0:2]

['Lovelace', 'Darwin']

In [39]:
names[:2]

['Lovelace', 'Darwin']

In [40]:
names[2:]

['Curie', 'Hawking']

In [50]:
authors_and_birth_years = {"Lovelace": 1882, "Darwin": 1809, "Hawking": [1942, 2018]}

In [42]:
type(authors_and_birth_years)

dict

In [45]:
authors_and_birth_years["Darwin"]

1809

In [46]:
authors_and_birth_years["Hawking"]

1942

In [49]:
authors_and_birth_years["Hawking"]

1942

In [51]:
authors_and_birth_years["Hawking"]

[1942, 2018]

In [56]:
for name in names: 
    print("What did " + "author_name" + " do?")
    print(name + " did awesome stuff")

What did author_name do?
Lovelace did awesome stuff
What did author_name do?
Darwin did awesome stuff
What did author_name do?
Curie did awesome stuff
What did author_name do?
Hawking did awesome stuff

In [58]:
for name in names:
    print(name)
    print("-----")

Lovelace
-----
Darwin
-----
Curie
-----
Hawking
-----

In [59]:
for name in names:
    print(name)
print("-----")

Lovelace
Darwin
Curie
Hawking
-----

In [62]:
for name in names:
    print(name)
    print(name)
print("-----")

Lovelace
Lovelace
Darwin
Darwin
Curie
Curie
Hawking
Hawking
-----

## Bedingte Anweisungen (Conditionals)

In [65]:
temp = 10
if temp > 15:
    print("It¬¥s warm")

In [67]:
temp = 10
if temp > 15:
    print("It¬¥s warm")
else: 
    print("It¬¥s cold")

It¬¥s cold

In [64]:
temp > 15

True

In [66]:
temp > 10

False

In [69]:
temp = 15 
if temp >= 25:
    print("It¬¥s hot")
elif temp >= 15:
    print("It¬¥s warm")
else:
    print("It¬¥s cold")

It¬¥s warm

In [70]:
temps = [0, 10, 16, 22, 30]

In [73]:
temp = 30
if temp >= 25:
    print("It¬¥s hot")
elif temp >= 15:
    print("It¬¥s warm")
else:
    print("It¬¥s cold")

It¬¥s hot

In [74]:
for temp in temps: 
    if temp >= 25:
        print("It¬¥s hot")
    elif temp >= 15:
        print("It¬¥s warm")
    else:
        print("It¬¥s cold")

It¬¥s cold
It¬¥s cold
It¬¥s warm
It¬¥s warm
It¬¥s hot